{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="page-body">
  <div class="container-xl">
    <div class="row g-2 g-md-3">
      <div class="col-lg-6">
        <div class="row g-2 g-md-3">
          {% for photo in part_photos %}
          <div class="col-6 col-md-3">
            <a data-fslightbox="gallery" href="{{ photo.image.url }}">
              <div class="img-responsive img-responsive-1x1 rounded-3 border" style="background-image: url('{{ photo.image.url }}')"></div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:4 %} 
            <div class="w-100 d-md-none"></div> 
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
</div>

    
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <div class="col-13">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-vcenter card-table table-striped">
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th>Модель автомобиля</th>
                      <th>Год</th>
                      <th>Цена</th>
                      <th>Серийный номер</th>
                      <th>Состояние</th>
                      <th>Местонахождение</th>
                      <th>Доступность</th>
                      <th>Количество просмотров</th>
                      <th>Контакт продавца</th>
                      <th>Бренд запчасти</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ part.name }}</td>
                      <td class="text-muted">{{ part.car_model.all.0.name }}</td>
                      <td class="text-muted">{{ part.year }}</td>
                      <td class="text">{{ part.price }}</td>
                      <td class="text-muted">{{ part.vendor_code }}</td>
                      <td class="text-muted">{{ part.get_condition_display }}</td>
                      {% if "2gis" in part.location %}
                          <td class="text-muted">
                              <a href="{{ part.location }}" target="_blank">
                                  <span>Местонахождение</span>
                              </a>
                          </td>
                          {% else %}
                          <td class="text-muted">{{ part.location }}</td>
                       {% endif %}
                      <td class="text-muted">{{ part.is_available }}</td>
                      <td class="text-muted">{{ part.views_count }}</td>
                      <td class="text-muted">{{ part.seller_contact }}</td>
                      <td class="text-muted">{{ part.car_part_brand.name }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}