{% extends 'base.html' %} 
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
{% if filter.form.model%}
    <form method="get">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            {{filter.form.make|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{filter.form.model|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{filter.form.price_min|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{filter.form.price_max|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{filter.form.year_min|as_crispy_field}}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            {{filter.form.year_max|as_crispy_field}}
          </div>
        </div>
      </div>
      
      <button class="btn btn-primary">
        <span class="simbit-icon">Фильтровать</span>
        
      </button>
      
    </form>
    {% else %}
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          {% for car in car %}
              <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                      <a href="{% url 'detail_page' car.id %}" class="d-block">
                        {% if car.photos.first %}
                          <img src="{{ car.photos.first.image.url }}" class="card-img-top" width="340px" height="290px">
                        {% else %}
                          <img src="{% static 'dist/default_auto_logo.jpg' %}" class="card-img-top" width="340px" height="290px">
                        {% endif %}
                      </a>
                      <div class="card-body">
                        
                          <div class="d-flex align-items">
                              <div>
                                <div style="display: flex; justify-content: space-between;">
                                  <span>{{ car.mark.name }} {{ car.model.name }}          {{ car.year }}год</span>                            
                              </div>
                                  <div class="text-muted">{{ car.owner.email }}</div>
                              </div>
                              <div class="align-right">
                              <a href="{% url 'add_to_favorites' pk=car.pk  %}" >
                                {% if car in request.user.favorites_list.all %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-minus" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M19.5 12.572l-2.494 2.47m-5.006 4.958l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                                  <path d="M16 19h6"></path>
                              </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M12 20l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.96 6.053"></path>
                                  <path d="M16 19h6"></path>
                                  <path d="M19 16v6"></path>
                              </svg>
                              {% endif %} 
                              </a>
                              </div>
                          </div>

                          <div>
                            {{ car.price }} {{ car.currency }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                              <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                           </svg> {{ car.views_count }}
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endif %}

    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          {% for car in filter.qs %}
              <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                      <a href="{% url 'detail_page' car.id %}" class="d-block">
                        {% if car.photos.first %}
                          <img src="{{ car.photos.first.image.url }}" class="card-img-top" width="340px" height="290px">
                        {% else %}
                          <img src="{% static 'dist/default_auto_logo.jpg' %}" class="card-img-top" width="340px" height="290px">
                        {% endif %}
                      </a>
                      <div class="card-body">
                        
                          <div class="d-flex align-items">
                              <div>
                                <div style="display: flex; justify-content: space-between;">
                                  <span>{{ car.mark.name }} {{ car.model.name }}          {{ car.year }}год</span>                            
                              </div>
                                  <div class="text-muted">{{ car.owner.email }}</div>
                              </div>
                              <div class="align-right">
                              <a href="{% url 'add_to_favorites' pk=car.pk  %}" >
                                {% if car in request.user.favorites_list.all %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-minus" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M19.5 12.572l-2.494 2.47m-5.006 4.958l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                                  <path d="M16 19h6"></path>
                              </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M12 20l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.96 6.053"></path>
                                  <path d="M16 19h6"></path>
                                  <path d="M19 16v6"></path>
                              </svg>
                              {% endif %} 
                              </a>
                              </div>
                          </div>

                          <div>
                            {{ car.price }} {{ car.currency }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                              <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                           </svg> {{ car.views_count }}
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}
