{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="col d-flex flex-column">
    <div class="card-body">
        <h2 class="mb-4"></h2>
        <div class="row align-items-center">
            <div class="col-auto">
            <a href="#">
                {% if car.photos.first %}
                    {% for photo in car_photos %}
                    <img src="{{ photo.image.url }}"  width="340px" height="290px">
                    {% endfor %}
                      {% else %}
                      <img src="{% static '\dist\default_auto_logo.jpg' %}" class="card-img-top" width="340px" height="290px">
                    {% endif %}
            </a>
            </div>
            <!-- Уберите кнопки Change avatar и Delete avatar, так как они не относятся к машинам -->
        </div>
        <h3 class="card-title">{{ car.mark.name }} {{ car.model.name }} ({{ car.year }})</h3>
        <h3 class="card-title mt-4"></h3>
        <div class="row g-3">
            <div class="col-md">
                <div class="form-label">Год : {{ car.year }}</div>
                <div class="form-label">Описание : {{ car.description }}</div>
                <div class="form-label">Пробег : {{ car.mileage }}Км</div>
                <div class="form-label">Цена : {{ car.price }} {{ caчr.get_currency_display }} </div>
                <div class="form-label">Состояние : {{ car.get_condition_display }}</div>
                <div class="form-label">Расстаможен : {{ car.get_customs_cleared_display }}</div>
                
                <div class="form-label">Тип кузова : {{ car.get_body_type_display }}</div>
                <div class="form-label">Привод : {{ car.get_drive_display }}</div>
                <div class="form-label">Коробка передач : {{ car.get_gearbox_display }}</div>
                <div class="form-label">Объем двигателя : {{ car.engine_capacity }} л</div>
                <div class="form-label">Тип руля : {{ car.get_ruletype_display }}</div>
                <div class="form-label">Цвет автомобиля : {{ car.get_color_display }}</div>
                
                
                <div class="form-label">VIN код : {{ car.get_vin_code_display }}</div>
                <div class="form-label">Особенные приметы :</div>
                <ul>
                    {% for note in car.special_notes.all %}
                        <li>{{ note }}</li>
                    {% endfor %}
                </ul>

   
                <div class="form-label">Двигатель :</div>
                <div class="form-label">Топливо : {{ car.get_engine_display }} </div>
                
                {% if profile_user.email == request.user.email %}
                    <a href="{% url 'delete_car' car_id=car.id %}" class="d-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 7l16 0"></path>
                            <path d="M10 11l0 6"></path>
                            <path d="M14 11l0 6"></path>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                        </svg>
                    </a>
                {% else %}   
                {% endif %} 
            </div>
        </div>
        
        
        
    </div>
    <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
            <a href="{% url 'cars' %}" class="btn">
                назад
            </a>
            
        </div>
    </div>
    </div>

{% endblock %}